name: CI

on:
  push:
    branches:
      - main

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install flake8
        run: pip install flake8

      - name: Run flake8
        run: flake8 etip/

  test:
    runs-on: ubuntu-latest
    needs: linter
    strategy:
      matrix:
        python-version: [3.8, 3.8]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: |
          cd etip/
          python manage.py test
          
