name: Python package

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8]
        django-version: [1.8, 1.11, 2.0, 2.1, 2.2]
        exclude:
          - python-version: 3.8
            django-version: 2.0
          - python-version: 3.8
            django-version: 2.1
          - python-version: 3.8
            django-version: 2.2

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -U django==${{ matrix.django-version }}
          if [[ "${{ matrix.python-version }}" == "3.8" ]]; then pip install black; fi

      - name: Run tests
        run: python manage.py test

      - name: Check code style
        run: |
          if [[ "${{ matrix.python-version }}" == "3.8" ]]; then black --check zen_queries; fi
