name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, '3.8', 'pypy-3.6']

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -r requirements-test.txt

      - name: Run tests
        run: |
          python -m unittest discover -s tests
          coverage run run_tests.py && coverage report -m

      - name: Upload coverage report
        if: success()
        run: |
          coverage xml
          # You can add steps to upload the coverage report if needed

