name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.8, 3.8]
        include:
          - python-version: 3.8
            env: PRE=--pre

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install package
        run: python -m pip install -v .

      - name: Install dependencies
        run: python -m pip install ${{ env.PRE }} --upgrade pytest pytest-cov coverage

      - name: Run tests with coverage
        run: coverage run run_tests.py

      - name: Report coverage
        run: coverage report -m

      - name: Upload coverage to Codecov
        if: success()
        run: bash <(curl -s https://codecov.io/bash)
        
