name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [3.8, 3.8, 3.8, 3.9, 'pypy-3.6']
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          pip install coverage
          pip install coveralls

      - name: Run tests with coverage
        run: |
          coverage run -m unittest discover -s lexpy/tests
          coverage report -i -m
          coveralls

      # Windows specific steps for Python installation
      - name: Install Python on Windows
        if: runner.os == 'Windows'
        run: |
          choco install python --version ${{ matrix.python-version }}
          python -m pip install --upgrade pip
        shell: cmd

      - name: Set PATH for Windows
        if: runner.os == 'Windows'
        run: echo "PATH=C:\Python${{ matrix.python-version }};C:\Python${{ matrix.python-version }}\Scripts;%PATH%"
        shell: cmd

