name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.9, 3.10]
        tox-env: 
          - flake8
          - check_rst
          - coverage
          - py38-django111
          - py38-django22
          - py38-django111
          - py38-django22
          - py39-django22
          - py39-django32
          - py310-django32
          - py310-django40
          - py310-django41
        include:
          - python-version: 3.8
            tox-env: py38-django111
          - python-version: 3.8
            tox-env: py38-django111
            arch: ppc64le
          - python-version: 3.8
            tox-env: py38-django22
          - python-version: 3.8
            tox-env: py38-django22
            arch: ppc64le
          - python-version: 3.8
            tox-env: py38-django111
          - python-version: 3.8
            tox-env: py38-django111
            arch: ppc64le
          - python-version: 3.8
            tox-env: py38-django22
          - python-version: 3.8
            tox-env: py38-django22
            arch: ppc64le
          - python-version: 3.9
            tox-env: py39-django22
          - python-version: 3.9
            tox-env: py39-django22
            arch: ppc64le
          - python-version: 3.10
            tox-env: py310-django32
          - python-version: 3.10
            tox-env: py310-django32
            arch: ppc64le
          - python-version: 3.9
            tox-env: py39-django32
          - python-version: 3.10
            tox-env: py310-django40
          - python-version: 3.10
            tox-env: py310-django41

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip and setuptools
        run: |
          python -m pip install --upgrade pip setuptools

      - name: Install dependencies
        run: |
          pip install tox $PKGS
          pip freeze

      - name: Run tests
        run: tox -e ${{ matrix.tox-env }}

      - name: Show logs
        run: |
          cat tox_log/*.log

