name: Python package

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.8, 3.9, pypy-3.6]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          pip install --upgrade --upgrade-strategy only-if-needed pytest pytest-catchlog
          pip install .

      - name: Run tests
        run: |
          pytest

      - name: Cache hypothesis
        uses: actions/cache@v2
        with:
          path: $HOME/.hypothesis
          key: ${{ runner.os }}-hypothesis-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-hypothesis-
            
notifications:
  email:
    on_success: change
    on_failure: always
