name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        python-version: [3.9, 3.8, 3.8, 3.8, pypy-3.6]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip wheel -r requirements.txt
          pip install -r requirements.txt

      - name: Run tests
        run: python setup.py test

