name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          if [ "${{ matrix.python-version }}" == "3.8" ]; then
            pip install black mypy
          fi
          pip install --editable .[dev]

      - name: Run checks
        run: |
          if [ "${{ matrix.python-version }}" == "3.8" ]; then
            make check
          fi
          make check-tests
