name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, 3.8, 3.8, 3.8]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -U setuptools tox pip virtualenv
          pip install -e .
          pip install pytest-cov codecov -r tests/requirements.txt

      - name: Run tests with Tox
        run: tox

      - name: Run coverage and upload to Codecov
        run: |
          pytest tests/ example/ --cov=./
          codecov
          
