name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.8, 3.9, 3.10]
        django-version: [1.11, 2.0, 2.1, 2.2, 3.0, 3.1, 3.2, 4.0, main]
    defaults:
      runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          if [[ "${{ matrix.python-version }}" == "3.8" ]]; then
            pip install -U importlib_metadata
          fi
          pip install tox tox-venv tox-travis

      - name: Run tests
        env:
          DJANGO: ${{ matrix.django-version }}
        run: tox

      - name: Allow failures for main
        if: ${{ matrix.django-version == 'main' }}
        run: echo "This job is allowed to fail."

