name: CI

on:
  push:
    branches:
      - main
      - dev
    tags:
      - '*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.9]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install ".[build]"

      - name: Run tests
        run: |
          if [[ "${{ matrix.python-version }}" == "3.8" && "${{ github.ref }}" == "refs/heads/dev" ]]; then
            tox -e coverage,mypy,style,docs,dist-test
          else
            tox
          fi

      - name: Upload coverage to Coveralls
        if: success() && contains(github.ref, 'refs/tags/') && matrix.python-version == '3.8'
        run: coveralls

  deploy:
    runs-on: ubuntu-22.04
    needs: build
    if: github.ref == 'refs/tags/' || github.ref == 'refs/heads/dev'
    steps:
      - name: Deploy to PyPI
        if: secrets.PYPI_TOKEN != ''
        run: |
          pip install twine
          python setup.py sdist bdist_wheel
          twine upload dist/* -u __token__ -p ${{ secrets.PYPI_TOKEN }}
          
# Note: The deployment step is conditional based on the branch or tag.
# Stable releases are for tags on the main branch, and pre-releases are for the dev branch.
