name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8]
        mode: [flake8, flake8-strict, docs]
        django-version: [dj22, dj30, dj31, dj32, djdev]
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install system dependencies
        run: |
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 762E3.87
          sudo apt-get update
          sudo apt-get install -y binutils libproj-dev gdal-bin libsqlite3-mod-spatialite

      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: $HOME/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          pip install -U pip
          pip install -U wheel virtualenv
          pip install tox coveralls

      - name: Run tests
        run: |
          apt list --installed
          coverage erase
          tox -e py${{ matrix.python-version }}-${{ matrix.django-version }}${{ matrix.mode }}

      - name: Upload coverage to Coveralls
        if: success()
        run: coveralls

# End-of-Code
