name: Python Package CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8, 3.8]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libicu-dev
          pip install -e .
          pip install pyicu coverage nose twine

      - name: Run tests with coverage
        run: |
          nosetests --with-coverage --cover-package=fingerprints --cover-erase

      - name: Upload package
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*

