name: Python package

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        python-version: [3.8, 3.9, 3.8, pypy-3.6]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -U 'setuptools>=18.5' 'pip>=6.0' 'wheel'
          pip install -e .

      - name: Run tests
        run: python runtests.py

