name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.8, 3.8, 3.9]
        env: [py38, py38, py38, py38, py38, py38, py39]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install --upgrade setuptools pip tox

      - name: Run tests
        run: |
          tox -v
        env:
          TOXENV: ${{ matrix.env }}

  qa-doc:
    runs-on: ubuntu-latest
    if: matrix.python-version == '3.8'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          pip install --upgrade setuptools pip tox

      - name: Run QA and documentation tests
        run: |
          tox -v
        env:
          TOXENV: qa,doc
