name: Python CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [3.8, 3.8, 3.8, 3.8, 3.8, '3.8']
        toxenv: [py38, py38, py38, py38, py38, py39]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip and setuptools
        run: |
          python -m pip install --upgrade pip setuptools
          pip --version

      - name: Install dependencies
        run: |
          pip install tox codecov
          tox --version

      - name: Run tests with Tox
        run: tox -e ${{ matrix.toxenv }}

      - name: Upload coverage to Codecov
        if: success()
        run: codecov
